<h1 class="text-center">Mesure de la qualité de l'air</h1>
<hr/><br/>
<div class="card text-center">
  <div class="card-header">
    <form [formGroup]="checkoutForm" (ngSubmit)="onSubmit()">
      <div>
        <label for="ville" class="mr-3">
          Votre nom de ville:
        </label>
        <input id="ville" type="text" formControlName="ville" class="mr-3">
        <button class="button btn-secondary" type="submit">Valider</button>
      </div>
    </form>
  </div>
  <div class="card-body" *ngIf="api_response">
    <div *ngIf="api_response.status==='ok'; else elseBlock">
      <h4>{{api_response.data.city.name}}</h4>
      <br/>
      <div style="vertical-align: middle">
          <strong class="rec">Qualité de l'air: <span style="color:{{couleur}}">{{niveau_indice}}</span></strong>
          <p>Polluants majoritaires: <span style="color:{{couleur}}">{{api_response.data.dominentpol}}</span></p>
          <img src="{{path_img_indice}}" class="img-fluid mt-3">
      </div>
      <br/><br/>
      <strong class="rec">
        Recommandations sanitaires pour les activites physiques
        en exterieur et balades</strong>
      <div class="row mt-4">
        <div class="col-md-6"><p class="titre">Personnes bien portantes</p></div>
        <div class="col-md-6"><p class="titre">Personnes sensibles</p></div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <p style="color: navy">{{desc_bp}}</p>
        </div>

        <div class="col-md-6">
          <p style="color: navy">{{desc_sens}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <img src="{{path_img_bp}}" class="img-fluid">
        </div>

        <div class="col-md-6">
          <img src="{{path_img_sens}}" class="img-fluid">
        </div>
      </div>
    </div>
    <ng-template #elseBlock>Désolé, pas de station dans la ville de {{choix}}</ng-template>
  </div>
  <div class="card-footer text-muted" *ngIf="api_response?.status==='ok'">
    {{date | date: 'dd/MM/yyyy'}} à {{date | date : 'hh:mm a'}}
  </div>
</div>
